sdk/src/main/resources/EntitlementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://entitlement.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2352="http://entitlement.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2354="http://dto.entitlement.identity.carbon.wso2.org/xsd" targetNamespace="http://entitlement.identity.carbon.wso2.org">
    <wsdl:documentation>EntitlementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2355="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2353="http://entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://entitlement.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"/>
            <xs:element name="EntitlementServiceEntitlementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EntitlementException" nillable="true" type="ax2352:EntitlementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionByAttributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="environment" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionByAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EntitlementServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EntitlementServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getBooleanDecision">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBooleanDecisionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitledAttributes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="enableChildSearch" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitledAttributesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2355:EntitledResultSetDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEntitlements">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="givenAttributes" nillable="true" type="ax2355:AttributeDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEntitlementsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2355:EntitledResultSetDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XACMLAuthzDecisionQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XACMLAuthzDecisionQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecision">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDecisionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EntitledResultSetDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="advanceResult" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entitledAttributesDTOs" nillable="true" type="ax2354:EntitledAttributesDTO"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntitledAttributesDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="allActions" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="allResources" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDTOs" nillable="true" type="ax2354:AttributeDTO"/>
                    <xs:element minOccurs="0" name="environment" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttributeDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeDataType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EntitlementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDecisionRequest">
        <wsdl:part name="parameters" element="ns1:getDecision"/>
    </wsdl:message>
    <wsdl:message name="getDecisionResponse">
        <wsdl:part name="parameters" element="ns1:getDecisionResponse"/>
    </wsdl:message>
    <wsdl:message name="EntitlementServiceEntitlementException">
        <wsdl:part name="parameters" element="ns1:EntitlementServiceEntitlementException"/>
    </wsdl:message>
    <wsdl:message name="getEntitledAttributesRequest">
        <wsdl:part name="parameters" element="ns1:getEntitledAttributes"/>
    </wsdl:message>
    <wsdl:message name="getEntitledAttributesResponse">
        <wsdl:part name="parameters" element="ns1:getEntitledAttributesResponse"/>
    </wsdl:message>
    <wsdl:message name="getDecisionByAttributesRequest">
        <wsdl:part name="parameters" element="ns1:getDecisionByAttributes"/>
    </wsdl:message>
    <wsdl:message name="getDecisionByAttributesResponse">
        <wsdl:part name="parameters" element="ns1:getDecisionByAttributesResponse"/>
    </wsdl:message>
    <wsdl:message name="XACMLAuthzDecisionQueryRequest">
        <wsdl:part name="parameters" element="ns1:XACMLAuthzDecisionQuery"/>
    </wsdl:message>
    <wsdl:message name="XACMLAuthzDecisionQueryResponse">
        <wsdl:part name="parameters" element="ns1:XACMLAuthzDecisionQueryResponse"/>
    </wsdl:message>
    <wsdl:message name="EntitlementServiceException">
        <wsdl:part name="parameters" element="ns1:EntitlementServiceException"/>
    </wsdl:message>
    <wsdl:message name="getBooleanDecisionRequest">
        <wsdl:part name="parameters" element="ns1:getBooleanDecision"/>
    </wsdl:message>
    <wsdl:message name="getBooleanDecisionResponse">
        <wsdl:part name="parameters" element="ns1:getBooleanDecisionResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEntitlementsRequest">
        <wsdl:part name="parameters" element="ns1:getAllEntitlements"/>
    </wsdl:message>
    <wsdl:message name="getAllEntitlementsResponse">
        <wsdl:part name="parameters" element="ns1:getAllEntitlementsResponse"/>
    </wsdl:message>
    <wsdl:portType name="EntitlementServicePortType">
        <wsdl:operation name="getDecision">
            <wsdl:input message="tns:getDecisionRequest" wsaw:Action="urn:getDecision"/>
            <wsdl:output message="tns:getDecisionResponse" wsaw:Action="urn:getDecisionResponse"/>
            <wsdl:fault message="tns:EntitlementServiceEntitlementException" name="EntitlementServiceEntitlementException" wsaw:Action="urn:getDecisionEntitlementServiceEntitlementException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntitledAttributes">
            <wsdl:input message="tns:getEntitledAttributesRequest" wsaw:Action="urn:getEntitledAttributes"/>
            <wsdl:output message="tns:getEntitledAttributesResponse" wsaw:Action="urn:getEntitledAttributesResponse"/>
            <wsdl:fault message="tns:EntitlementServiceEntitlementException" name="EntitlementServiceEntitlementException" wsaw:Action="urn:getEntitledAttributesEntitlementServiceEntitlementException"/>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <wsdl:input message="tns:getDecisionByAttributesRequest" wsaw:Action="urn:getDecisionByAttributes"/>
            <wsdl:output message="tns:getDecisionByAttributesResponse" wsaw:Action="urn:getDecisionByAttributesResponse"/>
            <wsdl:fault message="tns:EntitlementServiceEntitlementException" name="EntitlementServiceEntitlementException" wsaw:Action="urn:getDecisionByAttributesEntitlementServiceEntitlementException"/>
        </wsdl:operation>
        <wsdl:operation name="XACMLAuthzDecisionQuery">
            <wsdl:input message="tns:XACMLAuthzDecisionQueryRequest" wsaw:Action="urn:XACMLAuthzDecisionQuery"/>
            <wsdl:output message="tns:XACMLAuthzDecisionQueryResponse" wsaw:Action="urn:XACMLAuthzDecisionQueryResponse"/>
            <wsdl:fault message="tns:EntitlementServiceException" name="EntitlementServiceException" wsaw:Action="urn:XACMLAuthzDecisionQueryEntitlementServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getBooleanDecision">
            <wsdl:input message="tns:getBooleanDecisionRequest" wsaw:Action="urn:getBooleanDecision"/>
            <wsdl:output message="tns:getBooleanDecisionResponse" wsaw:Action="urn:getBooleanDecisionResponse"/>
            <wsdl:fault message="tns:EntitlementServiceException" name="EntitlementServiceException" wsaw:Action="urn:getBooleanDecisionEntitlementServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEntitlements">
            <wsdl:input message="tns:getAllEntitlementsRequest" wsaw:Action="urn:getAllEntitlements"/>
            <wsdl:output message="tns:getAllEntitlementsResponse" wsaw:Action="urn:getAllEntitlementsResponse"/>
            <wsdl:fault message="tns:EntitlementServiceEntitlementException" name="EntitlementServiceEntitlementException" wsaw:Action="urn:getAllEntitlementsEntitlementServiceEntitlementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EntitlementServiceSoap11Binding" type="tns:EntitlementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDecision">
            <soap:operation soapAction="urn:getDecision" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitledAttributes">
            <soap:operation soapAction="urn:getEntitledAttributes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <soap:operation soapAction="urn:getDecisionByAttributes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="XACMLAuthzDecisionQuery">
            <soap:operation soapAction="urn:XACMLAuthzDecisionQuery" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceException">
                <soap:fault use="literal" name="EntitlementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBooleanDecision">
            <soap:operation soapAction="urn:getBooleanDecision" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceException">
                <soap:fault use="literal" name="EntitlementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEntitlements">
            <soap:operation soapAction="urn:getAllEntitlements" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementServiceSoap12Binding" type="tns:EntitlementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDecision">
            <soap12:operation soapAction="urn:getDecision" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitledAttributes">
            <soap12:operation soapAction="urn:getEntitledAttributes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <soap12:operation soapAction="urn:getDecisionByAttributes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="XACMLAuthzDecisionQuery">
            <soap12:operation soapAction="urn:XACMLAuthzDecisionQuery" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceException">
                <soap12:fault use="literal" name="EntitlementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBooleanDecision">
            <soap12:operation soapAction="urn:getBooleanDecision" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceException">
                <soap12:fault use="literal" name="EntitlementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllEntitlements">
            <soap12:operation soapAction="urn:getAllEntitlements" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EntitlementServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementServiceEntitlementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementServiceHttpBinding" type="tns:EntitlementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDecision">
            <http:operation location="getDecision"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEntitledAttributes">
            <http:operation location="getEntitledAttributes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDecisionByAttributes">
            <http:operation location="getDecisionByAttributes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="XACMLAuthzDecisionQuery">
            <http:operation location="XACMLAuthzDecisionQuery"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBooleanDecision">
            <http:operation location="getBooleanDecision"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEntitlements">
            <http:operation location="getAllEntitlements"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EntitlementService">
        <wsdl:port name="EntitlementServiceHttpsSoap11Endpoint" binding="tns:EntitlementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EntitlementServiceHttpsSoap12Endpoint" binding="tns:EntitlementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EntitlementServiceHttpsEndpoint" binding="tns:EntitlementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/EntitlementService.EntitlementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>